@inherits LayoutComponentBase
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <NavMenu />
</aside>

<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <HeaderMenu />
    <!-- Content -->
    <div class="content">
        @Body
    </div>
</div>

