 <!-- Left Panel -->
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <NavLink href="Counter" Match="NavLinkMatch.All"><i class="menu-icon fa fa-laptop"></i>Counter </NavLink>
                </li>
                <li>
                    <NavLink href="Brand" Match="NavLinkMatch.All"><i class="menu-icon fa fa-compnay"></i>Brands </NavLink>
                </li>
                <li>
                    <NavLink href="Cars" Match="NavLinkMatch.All"><i class="menu-icon fa fa-car"></i>Cars </NavLink>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>



@*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorDealer.Admin</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>*@
